{% extends 'base.html.twig' %}
{% block title%} HOME {% endblock %}

{% block main %}
    <section>
        <h1> BIENVENUE </h1>

        <article id="video">
            <iframe width="460" height="215" src="https://www.youtube.com/embed/Yj9EsdQyFaE" title="YouTube video player" frameborder="0" allow="accelerometer;
                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen> MÉTÉORES VS GONE </iframe>
        </article>
    </section>

    <section id="description">
        <article>
            <h2> Qui sommes nous ? </h2>
            <p>Le 4 avril 1981 naissaient le club des Météores Football. C’est aujourd’hui le plus vieux club de France.</p>

            <p>Les Club des Météores est l’un des plus anciens club de Football Américain de France.</p>

            <p>Initialement situé à Nogent il a été relocalisé à Fontenay-sous-Bois. Il compte aujourd’hui plus de 300 licenciés pratiquants le Football Américain, mais aussi le Flag et le Cheerleading.</p>

            <p>En ce qui concerne le football américain, les effectifs sont réparties parmi les</p>
        </article>
    </section>
{% endblock %}