{% extends 'base.html.twig' %}
{% block title %} HOME {% endblock %}

{% block main %}

    <section class="home-main">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

           {# <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
#}
            <div class="carousel-inner home-div">
     {#           <div class="carousel-item active">
                    <img src="{{ asset('img/fon1.JPG') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>#}
                <div class="carousel-item active caro2">
                    <img src="{{ asset('img/fond.JPG') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2> Qui sommes-nous ? </h2>
                        <p>Le 4 avril 1981 naissaient le club des Météores Football. C’est aujourd’hui le plus vieux club de
                            France.</p>
                        <p>Les Club des Météores est l’un des plus anciens club de Football Américain de France.</p>
                        <p>Initialement situé à Nogent il a été relocalisé à Fontenay-sous-Bois. Il compte aujourd’hui plus de 300
                            licenciés pratiquants le Football Américain, mais aussi le Flag et le Cheerleading.</p>

                    </div>
                </div>
            </div>
{#
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>#}

        </div>
    </section>
{% endblock %}
{% block footer %} {% endblock %}
