.formulaire-inscription{
   background-color: white;
   width: auto;
   margin: 60px 2em 70px;
   display: flex;
   justify-content: center;
   justify-items: center;
   border-radius: 10px;
}
.formulaire-inscription form button{
   background-color: #CB532D;
   border: none;
}
.formulaire-inscription form button:hover{

   background-color: #E8A33E;
}
.connexion{
   background-color: white;
   width: auto;
   margin: 60px 2em 70px;
   display: flex;
   justify-content: center;
   justify-items: center;
   border-radius: 10px;
}
.connexion form button{
   background-color: #CB532D;
   border: none;
}
.connexion form button:hover{

   background-color: #E8A33E;
}